*,
*::before,
*::after {
    box-sizing: border-box;

}

/* === ++ Palette === */

$clr-0: #257BC9;	// Main Primary clr */
$clr-1: #000000;
$clr-2: #4790D2;
$clr-3: #096AC0;
$clr-4: #074B87;
.clr-3 {
    color: $clr-3
}
.clr-4 {
    color: $clr-4
}
$clr-10: #FFC91F;	// Main Secondary clr (1) */
$clr-11: #000000;
$clr-12: #FFD34A;
$clr-13: #FFC200;
$clr-14: #D19F00;

$clr-20: #FF651F;	// Main Secondary clr (2) */
$clr-21: #000000;
$clr-22: #FF824A;
$clr-23: #FF4F00;
$clr-24: #D14100;
/* === .. Palette === */
$color-body: white;

body {
    font-family: 'Inter-SemiBold';
}

html {
    scroll-behavior: smooth;
  }