
.service-card {
    background-color: white;
    border-radius: 20px;
    /* margin: 3rem; */
    max-width: 300px;
    margin: 0 auto;
    margin-bottom: 2rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;


}    

/* .service-card__btn {
    width: 250px;
    height: 40px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background: #006CC1;
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.25);
    border-radius: 7px;
} */

.service-card__btn {
    align-items: center;
    appearance: button;
    background-color: $clr-3;
    border-radius: 8px;
    border-style: none;
    box-shadow: rgba(255, 255, 255, 0.26) 0 1px 2px inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    font-family: "RM Neue",sans-serif;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
    padding: 10px 21px;
    text-align: center;
    text-transform: none;
    transition: color .13s ease-in-out,background .13s ease-in-out,opacity .13s ease-in-out,box-shadow .13s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .service-card__btn:active {
    background-color: $clr-4;
  }
  
  .service-card__btn:hover {
    background-color: $clr-2;
  }