@import '_init';
@import '_services';
@import '_category_card';
@import '_srv-trading';

.content-wrap{
    max-width: 600px;
    margin: 0 auto;
}

.intro-hero {
    width: 100%;
    height: 300px;
    /* background: url('../img/intro.jpg') 0 0/cover no-repeat; */
    
}

.intro-logo {
    margin: 2rem;
    text-align: center;

    &>img {
        width: 220px;
        height: auto;
    }
}

.intro-text {
    color: $clr-3;
    &>h3 {
        font-size: 1.5rem;
        text-align: center;
        
    }
    &>p {
        padding: 0 1rem 0 1rem;
    }    
}

/* Inter-ExtraBold */
.product-category {
    background-color: $clr-2;


    .product-category__button{
        width: 300px;
        height: 44px;

        background: $clr-3;
        border: 1px solid white;
        box-shadow: 4px 4px 4px $clr-4;
        border-radius: 10px;
        margin: 0 auto;
        margin-bottom: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
    }
}
/* Start layout intro */
.intro-section {
    padding: 1rem;
    color: white;
    .intro-title {
        font-family: 'Inter-ExtraBold';
        font-size: 2rem;
        /* color: white; */
        text-align: center;
    }
    &>p {
        padding: 0 1rem 0 1rem;
        text-align: center;
    }
}
/* End layout intro */

.section__bottom{
    height: 1rem;
}


.our-service {
    background-color: $clr-4;
}

.our-team {
    margin: 0 auto;
    background-color: $clr-3;
    .intro-section {
        &>p {
        text-align: left;
        }
    } 
    .our-team-hero {
        text-align: center;
        margin: 1rem;
        &>img {
            width: 90%;
        }
    }
}

.contact-us {
    background-color: $clr-4;
    .intro-section {
        &>p {
        text-align: left;
        }
    } 
    a:link {
        color: #ffffff;
      }
      
      /* visited link */
      a:visited {
        color: $clr-14;
      }
      
      /* mouse over link */
      a:hover {
        color: $clr-13;
      }
      
      /* selected link */
      a:active {
        color: blue;
      }
}

.products-card__wrap {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}

.product-card {
    width: 100px;
    height: 150px;
    color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 5px;
    flex: 1;
    &>img {
        width: 80px;
        height: 80px;
        margin: 0 auto;
        border-radius: 10%;
    }
    &>span {
        font-size: .6rem;
        margin: .5rem;
    }
}